#root {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: white;
  width: 30vw;
  min-height: 10vh;
  padding: 20px;
  margin: 1em auto;
  border-radius: 10px;
}

.error {
  background: red;
}

.success {
  background: green;
}
